@define-color bordershadow rgba(255, 255, 255, 0.2);

window {
    background: rgba(150, 150, 150, 0.1);
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px 2px @bordershadow;
}

#box {
    /* Define attributes of the box surrounding icons here */
    padding: 2px;
}

tooltip {
    background: rgba(150, 150, 150, 0.1);
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px 2px @bordershadow;
}

tooltip-label {
    color: #FFFFFF;
}

#active {
    /* This is to underline the button representing the currently active window */
    border-bottom: solid 0px;
    border-color: rgba(255, 255, 255, 0.1)
}

button,
image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #000
}

button {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    color: #000;
    font-size: 12px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

button:focus {
    box-shadow: none
}
