@define-color bordershadow rgba(255, 255, 255, 0.2);
@define-color widget-background rgba(150, 150, 150, 0.1);
@define-color widget-active-background rgba(255, 255, 255, 0.1);

* {
    font-family: "Fira Sans Semibold", Roboto, Helvetica, Arial, sans-serif;
    transition: all 200ms ease-in-out;
    background-color: transparent;
}

.notification-group {
    background: transparent;
}

.control-center {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
	margin: 8px;
	padding: 16px;
	background-color: rgba(150, 150, 150, 0.1);
	box-shadow: inset 0 0 2px 2px @bordershadow;
}

.widget-title {
	margin: 16px;
	margin-bottom: 0px;
}

.widget-dnd {
	margin: 16px;
}
button {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	background: @widget-background;
	box-shadow: inset 0 0 2px 2px @bordershadow;
}

button:hover {
        background: @widget-active-background;
}

.notification {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
	background-color: @widget-background;
	padding: 16px;
	box-shadow: inset 0 0 2px 2px @bordershadow;
}

.widget-mpris {
	margin-bottom: 0px;
	padding: 0px;
}

.widget-mpris-player {
	border-radius: 10px;
	box-shadow: inset 0 0 2px 2px @bordershadow;
}

.widget-mpris-player button {
    border-radius: 99px;
}

.widget-mpris-album-art {
	margin-bottom: 8px;
}

.image {
	margin: 0px 16px 0px 0px;
	padding: 0px;
}

.notification-default-action:hover {
	background: transparent;
}

.widget-dnd > switch {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
	background: @widget-background;
	border-radius: 10px;
	box-shadow: inset 0 0 2px 2px @bordershadow;
}

switch slider {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	background: @widget-background;
	box-shadow: inset 0 0 2px 2px @bordershadow;
}

switch slider:hover {
	background: @widget-active-background;
}

.widget-dnd > switch:checked {
	background: @widget-active-background;
}

.widget-volume {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin: 0px 20px 16px 20px;
	background: @widget-background;
	box-shadow: inset 0 0 2px 2px @bordershadow;
}

trough {
    border-radius: 99px;
    border-width: 0px;
    border-color: @widget-active-background;
	background: @widget-active-background;
}

highlight {
    border-radius: 99px;
	border-width: 6px;
    background: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.widget-volume slider {
    border: none;
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
}

.widget-volume slider:hover {
    border: none;
    box-shadow: none;
	background: rgba(0, 0, 0, 0);
}
